@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@custom-variant dark (.dark &);
@theme {
   --spacing-safe-top: var(--safe-area-top);
   --spacing-safe-bottom: var(--safe-area-bottom);
}
* {
   box-sizing: border-box;
   font-family: "InterVariable", system-ui, sans-serif;
}
:root {
   --safe-area-top: env(safe-area-inset-top, 0px);
   --safe-area-bottom: env(safe-area-inset-bottom, 0);
   --swiper-pagination-bullet-size: 6px;
   --swiper-pagination-bullet-inactive-opacity: 0.9;
   --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.3);
   --swiper-theme-color: white;
}

.swiper-pagination {
   padding: 5px 8px;
   border-radius: 20px;
   bottom: 15px !important;
   left: 50% !important;
   transform: translateX(-50%) !important;
   background: rgba(0, 0, 0, 0.3);
   width: auto !important;
   display: flex;
   gap: 4px;
   backdrop-filter: blur(2px);
}

.swiper-pagination-lock {
   display: none;
}

.swiper-pagination-bullet {
   margin: 0 !important;
}

.z-bg-gradient {
   @apply bg-linear-to-r from-stone-100/60  to-slate-100/60;
}

.v-enter-active,
.v-leave-active {
   transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
   opacity: 0;
}

.v-enter-to,
.v-leave-from {
   opacity: 1;
}

/* Yangi sahifa kirib kelayotgan vaqti */
.slide-in-enter-active,
.slide-in-leave-active {
   transition: all 0.25s ease;
   position: absolute; /* Ustma-ust tushishi uchun */
   width: 100%;
   top: 0;
   left: 0;
}

/* Kirayotgan sahifa boshlang'ich holati (o'ngda) */
.slide-in-enter-from {
   transform: translateX(100%);
   z-index: 2; /* Yangisi ustida bo'lishi uchun */
}

/* Eski sahifa chiqib ketayotgan holati (joyida qolishi yoki biroz xiralashishi mumkin) */
.slide-in-leave-to {
   transform: translateX(-30%); /* Orqaga biroz suriladi */
   opacity: 0;
}

/* Orqaga qaytishda sahifa kirib kelishi */
.slide-out-enter-active,
.slide-out-leave-active {
   transition: all 0.25s ease;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
}

/* Kirayotgan sahifa boshlang‘ich holati (chapda) */
.slide-out-enter-from {
   transform: translateX(-100%);
   z-index: 2;
}

/* Eski sahifa chiqib ketayotgan holati (o‘ng tomonga suriladi) */
.slide-out-leave-to {
   transform: translateX(30%);
   opacity: 0;
}

.no-scrollbar {
   -ms-overflow-style: none; /* IE, Edge */
   scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
   display: none; /* Chrome, Safari */
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
   transition: all 0.2s ease;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
}

.slide-bottom-enter-from {
   transform: translateY(70%);
   z-index: 2;
}

.slide-bottom-leave-to {
   transform: translateY(10%);
   opacity: 0;
}

.skeleton {
   background: #e5e7eb;
   border-radius: var(--z-rounded);
   position: relative;
   overflow: hidden;
}

.skeleton::after {
   content: "";
   position: absolute;
   inset: 0;
   transform: translateX(-100%);
   background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
   animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
   100% {
      transform: translateX(100%);
   }
}

.full-page {
   @apply h-full pt-[calc(var(--safe-area-top)+var(--spacing)*4)] pb-[calc(var(--safe-area-bottom)+var(--spacing)*4)] bg-(--z-bg-background);
}
