@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@custom-variant dark (.dark &);
@theme {
   --spacing-safe-top: var(--safe-area-top);
   --spacing-safe-bottom: var(--safe-area-bottom);
}

:root {
   --safe-area-top: env(safe-area-inset-top, 0px);
   --safe-area-bottom: env(safe-area-inset-bottom, 0);
   --swiper-pagination-bullet-size: 6px;
   --swiper-pagination-bullet-inactive-opacity: 0.9;
   --swiper-pagination-bullet-inactive-color: white;
}

/* Konteyner nisbiy bo'lishi kerak */
.route-wrapper {
   position: relative;
   overflow: hidden;
}

/* Yangi sahifa kirib kelayotgan vaqti */
.slide-in-enter-active,
.slide-in-leave-active {
   transition: all 0.25s ease;
   position: absolute; /* Ustma-ust tushishi uchun */
   width: 100%;
   top: 0;
   left: 0;
}

/* Kirayotgan sahifa boshlang'ich holati (o'ngda) */
.slide-in-enter-from {
   transform: translateX(100%);
   z-index: 2; /* Yangisi ustida bo'lishi uchun */
}

/* Eski sahifa chiqib ketayotgan holati (joyida qolishi yoki biroz xiralashishi mumkin) */
.slide-in-leave-to {
   transform: translateX(-30%) scale(0.9); /* Orqaga biroz suriladi */
   opacity: 0;
}

/* Orqaga qaytishda sahifa kirib kelishi */
.slide-out-enter-active,
.slide-out-leave-active {
   transition: all 0.25s ease;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
}

/* Kirayotgan sahifa boshlang‘ich holati (chapda) */
.slide-out-enter-from {
   transform: translateX(-100%);
   z-index: 2;
}

/* Eski sahifa chiqib ketayotgan holati (o‘ng tomonga suriladi) */
.slide-out-leave-to {
   transform: translateX(30%) scale(0.9);
   opacity: 0;
}
