:root {
   --default-background: #ffffff;

   /* SPACING */
   --space-sm: 8px;
   --space-md: 12px;
   --space-lg: 16px;

   /* RADIUS */
   --radius-sm: 4px;
   --radius-md: 8px;
   --radius-lg: 12px;
   --color-border: #e9e9e9;

   /* COLORS */
   --color-primary: #3063ee;
   --color-primary-hover: #1d4ed8;
   --color-danger: #dc2626;

   --color-surface: #f8fafc;
   --color-surface-muted: #f9fafb;

   --color-text-primary: #111827;
   --color-text-secondary: #6b7280;

   /* ANIMATION */
   --duration-fast: 150ms;
   --duration-normal: 250ms;
   --ease-soft: cubic-bezier(0.4, 0, 0.2, 1);

   --drop-stripe-light: rgba(255, 255, 255, 0.6);
   --drop-stripe-dark: rgba(0, 0, 0, 0.06);
   --drop-stripe-width: 24px;
}

@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../PlusJakartaSans-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
   font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}

body {
   margin: 0;
   background: var(--default-background);
   color: var(--color-text-primary);
   font-family: system-ui, sans-serif;
}

// html.dark {
//    --color-primary: #3b82f6;
//    --color-primary-hover: #60a5fa;
//    --color-danger: #f87171;

//    --color-surface: #1a1a1a;
//    --color-surface-muted: #2d2d2d;
//    --color-border: #404040;

//    --color-text-primary: #f8fafc;
//    --color-text-secondary: #94a3b8;

//    --drop-stripe-light: rgba(255, 255, 255, 0.08);
//    --drop-stripe-dark: rgba(255, 255, 255, 0.02);
// }
