@use "./components/field-core";

@use "./components/button";
@use "./components/field-textarea";
@use "./components/field-select";

//
//
//
//
//
//
//
:root {
   --z-bg-primary: #ffffff;
   --z-bg-secondary: #f8f8f8;

   /* SPACING */
   --space-sm: 8px;
   --space-md: 12px;
   --space-lg: 16px;

   /* RADIUS */
   --z-rounded: 8px;
   --z-color-border: #eeeeee;

   /* COLORS */
   --z-color-primary: #002ae4;
   --z-color-danger: #ff3b30;

   --z-bg-field: #f8f8f8;
   --z-color-surface-muted: #f9fafb;

   --z-color-text-primary: #111827;
   --z-color-text-secondary: #6b7280;

   /* ANIMATION */
   --duration: 150ms;
   --ease-soft: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
   box-sizing: border-box;
   font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}
body {
   margin: 0;
   background: var(--z-bg-primary);
   color: var(--color-text-primary);
   font-family: system-ui, sans-serif;
}

// html.dark {
//    --color-primary: #3b82f6;
//    --color-primary-hover: #60a5fa;
//    --color-danger: #f87171;

//    --color-surface: #1a1a1a;
//    --color-surface-muted: #2d2d2d;
//    --color-border: #404040;

//    --color-text-primary: #f8fafc;
//    --color-text-secondary: #94a3b8;

//    --drop-stripe-light: rgba(255, 255, 255, 0.08);
//    --drop-stripe-dark: rgba(255, 255, 255, 0.02);
// }
