@import "tailwindcss";
@import "tailwindcss-primeui";
@import "swiper/css";

@custom-variant dark (&:where(.p-dark, .p-dark *));
.headless-drawer .p-drawer-header {
   padding: 0 !important;
}
:root {
   /* Standart qiymat. JS ishga tushgach, bu qiymat AuthStore'dagi raqam bilan almashadi */
   --safe-area-top: env(safe-area-inset-top, 0px);
}

@theme {
   --spacing-safe-top: var(--safe-area-top);
}
/* PrimeVue Drawer (Sider) uchun global padding */
.p-drawer-header {
   padding-top: var(--safe-area-top) !important;
}

/* PrimeVue Dialog (Modal) uchun global padding */
.p-dialog-header {
   padding-top: var(--safe-area-top) !important;
}

.list-enter-active,
.list-leave-active {
   transition: all 0.3s ease;
}
.list-enter-from {
   opacity: 0;
}
