@import "tailwindcss";
@import "tailwindcss-primeui";
@import "swiper/css";
.headless-drawer .p-drawer-header {
   padding: 0 !important;
}

.list-enter-active,
.list-leave-active {
   transition: all 0.3s ease;
}
.list-enter-from {
   opacity: 0;
}
