@import "tailwindcss";
@import "tailwindcss-primeui";
@import "swiper/css";

@custom-variant dark (&:where(.p-dark, .p-dark *));
.headless-drawer .p-drawer-header,
.headless-dialog .p-dialog-header {
   padding: 0 !important;
}
:root {
   --safe-area-top: env(safe-area-inset-top, 0px);
}

@theme {
   --spacing-safe-top: var(--safe-area-top);
   --spacing-safe-bottom: 45px;
}

.list-enter-active,
.list-leave-active {
   transition: all 0.3s ease;
}
.list-enter-from {
   opacity: 0;
}

.p-tree {
   padding: 0 !important;
}

.p-tree-node-label {
   @apply w-full;
}

.bg-tertiary {
   @apply bg-white! dark:bg-black!;
}

.bg-secondary {
   @apply bg-surface-50 dark:bg-surface-900;
}

.border-secondary {
   @apply border-surface-200 dark:border-surface-800;
}

.text-secondary {
   @apply text-surface-600 dark:text-surface-400;
}

.text-tertiary {
   @apply text-surface-800 dark:text-surface-200;
}

.p-datatable-table th,
.p-datatable-table thead,
.p-datatable-table tr,
.p-datatable-table td {
   background: transparent !important;
}
.no-last-border .p-datatable-tbody > tr:last-child > td {
   border-bottom: none !important;
}
