.ui-select__control {
   padding-inline: var(--space-md);
   padding-block: var(--space-md);
   cursor: pointer;
}

/* ERROR */
.ui-select[data-error] .ui-select__control {
   border-color: var(--color-danger);
}

/* OPTIONS */
.ui-select__options {
   background: var(--z-bg-secondary);
   border-radius: var(--radius-md);
   max-height: 240px;
   padding: 10px 0px;
}

/* OPTION */
.ui-select__option {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: var(--space-sm) var(--space-md);
   border-radius: 8px;
   cursor: pointer;
}

.ui-select__option[data-headlessui-state~="active"] {
   background: var(--z-bg-field);
}

.ui-select__option[data-headlessui-state~="selected"] {
   color: var(--z-color-primary);
}
