.ui-textarea {
   padding-block: var(--input-py);
   border-radius: var(--input-radius);

   --input-px: var(--space-md);
   --input-py: var(--space-md);
   --input-radius: var(--radius-md);

   /* SIZE */
   &[data-size="sm"] {
      --input-px: var(--space-sm);
      --input-py: var(--space-sm);
      font-size: 0.875rem;
   }

   &[data-size="lg"] {
      --input-px: var(--space-lg);
      --input-py: var(--space-lg);
      font-size: 1rem;
   }
}

.ui-textarea__field {
   font-size: 14px;
   display: block;
   width: 100%;

   padding-inline: var(--input-px);

   color: var(--color-text-primary);

   line-height: 1.4;

   transition: box-shadow var(--duration-fast);

   &::placeholder {
      font-size: 14px;
      color: var(--z-color-text-secondary);
   }
}
