.ui-textarea {
   padding-block: var(--input-py);
   border-radius: var(--input-radius);
   border: 1px solid var(--color-border);

   --input-px: var(--space-md);
   --input-py: var(--space-md);
   --input-radius: var(--radius-md);

   /* SIZE */
   &[data-size="sm"] {
      --input-px: var(--space-sm);
      --input-py: var(--space-sm);
      font-size: 0.875rem;
   }

   &[data-size="lg"] {
      --input-px: var(--space-lg);
      --input-py: var(--space-lg);
      font-size: 1rem;
   }
}

.ui-textarea__field {
   display: block;
   width: 100%;

   padding-inline: var(--input-px);

   background: var(--color-surface);
   color: var(--color-text-primary);

   line-height: 1.4;

   transition:
      border-color var(--duration-fast),
      box-shadow var(--duration-fast);

   &::placeholder {
      color: var(--color-text-secondary);
   }

   &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 0 2px color-mix(in srgb, var(--color-primary) 20%, transparent);
   }
}
