.tree {
   display: flex;
   flex-direction: column;
   gap: var(--space-sm);
   padding: var(--space-md);
   border-radius: var(--radius-md);
   border: 1px solid var(--color-border);
   background: var(--color-surface-muted);

}

.tree-node:first-child {
   border-top-left-radius: var(--radius-md);
   border-top-right-radius: var(--radius-md);
}

.tree-node:last-child {
   border-bottom-left-radius: var(--radius-md);
   border-bottom-right-radius: var(--radius-md);
}

.tree-node__row {
   background: var(--color-surface);
   display: flex;
   align-items: center;
   gap: var(--space-md);
   padding: var(--space-md);
   cursor: grab;
   border-radius: var(--radius-md);
}

.tree-node__row--dragover {
   background: var(--color-surface);
   outline: 1px solid var(--color-primary);
}

.tree-node__children {
   display: flex;
   flex-direction: column;
   gap: var(--space-md);
   margin-left: 30px;
   padding: var(--space-md) 0;
}

.tree-node__children:last-child {
   padding-bottom: 0px;
}

@-webkit-keyframes slide {
   0% {
      background-position: 0% 0;
   }
   100% {
      background-position: 100% 0;
   }
}
@-moz-keyframes slide {
   0% {
      background-position: 0% 0;
   }
   100% {
      background-position: 100% 0;
   }
}
@keyframes slide {
   0% {
      background-position: 0% 0;
   }
   100% {
      background-position: 100% 0;
   }
}

.drop-zone--active {
   background: repeating-linear-gradient(
      -45deg,
      var(--color-surface),
      var(--color-surface) 4px,
      var(--color-surface-muted) 4px,
      var(--color-surface-muted) 8px
   );
   background-size: 56px 56px;
   -webkit-animation: slide 40s infinite linear forwards;
   -moz-animation: slide 40s infinite linear forwards;
   animation: slide 40s infinite linear forwards;
   outline: 1px solid var(--color-border);
}

.drop-zone--passive {
   opacity: 0.5;
   outline: 1px solid var(--color-danger);
}
